@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --nutmeg-color: hsl(14, 45%, 36%);
  --dark-raspberry-color: hsl(332, 51%, 32%);
  --white-color: hsl(0, 0%, 100%);
  --rose-white-color: hsl(330, 100%, 98%);
  --eggshell-color: hsl(30, 54%, 90%);
  --light-grey-color: hsl(30, 18%, 87%);
  --wenge-brown-color: hsl(30, 10%, 34%);
  --dark-charcoal-color: hsl(24, 5%, 18%);
}

body {
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--eggshell-color);
  box-sizing: border-box;
}

.container {
  padding: 0 32px 40px;
  background-color: var(--white-color);
}

.hero {
  max-width: 100%;
}

h1 {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 400;
  word-break: break-all;
  color: var(--dark-charcoal-color);
}

.description {
  margin-top: 24px;
  color: var(--wenge-brown-color);
}

.preparation-time {
  margin-top: 32px;
  padding: 24px;
  background-color: rgba(123, 40, 79, 0.1);
}

.preparation-time header {
  color: var(--nutmeg-color);
}

.preparation-time ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  color: var(--wenge-brown-color);
}

.ingridients header {
  margin-top: 32px;
  color: var(--nutmeg-color);
}

.ingridients ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.divider::before {
  display: block;
  content: '';
  margin-top: 32px;
  border-top: 1px solid var(--light-grey-color);
}

.small-divider::before {
  display: block;
  content: '';
  margin-top: 12px;
  border-top: 1px solid var(--light-grey-color);
}

.instructions {
  margin-top: 32px;
}

.instructions header {
  color: var(--nutmeg-color);
}

.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.nutrition {
  margin-top: 32px;
}

.nutrition header {
  color: var(--nutmeg-color);
}

.nutrition p {
  margin-top: 24px;
}

.table-params {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.table-params-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.table-params-item .name {
  width: 100%;
}

.table-params-item .value {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
